body {
    background-color: lightblue;;
}
button {
    display: inline-block;
    font-size: 1em;
    padding: 10px 20px;
    margin: 20px 2px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


* {
    padding:0;
    margin:0;
    box-sizing:border-box ;
}

img {
    width:100% ;
    border-radius:15px;
    margin:5px 0;
}

h1 {
    margin:5px 0 10px 0;
    
}

h2 {
    margin:5px 0 ;
}

h2 {
    margin:3px 0 ;
}

p {
    padding:5px;
    font-size:13px;
}

body {
    background-color: lightblue;;
    padding:10px;
    text-align:center ;
}
